@import "../../../styles/variables.scss";

* {
  background-color: $main-background-color;
}

.wrapper {
  height: 100%;
}

.title {
  color: $primary-color;
  width: fit-content;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 2px $secondary-color;
}

.add-button {
  width: fit-content;
  background-color: $secondary-color;
  color: $primary-color;

  mat-icon {
    background-color: $secondary-color;
  }
}

th {
  color: $primary-color;
  line-height: 60px;
}

td {
  line-height: 50px;
}

.mat-menu-item {
  background-color: white;
  mat-icon {
    background-color: white;
  }
  span {
    background-color: white;
  }
}
