<div class="container p-4">
  <h1 mat-dialog-title class="dialog-title">{{ dialogTitle }} Estudiante</h1>
  <div mat-dialog-content>
    <form class="students-form px-2" [formGroup]="studentsForm">
      <div class="row pb-3">
        <mat-form-field class="col-6" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input formControlName="firstName" matInput required>
          <mat-error *ngIf="studentsForm.controls['firstName'].invalid">{{ getErrorMessage('firstName') }}</mat-error>
        </mat-form-field>

        <mat-form-field class="col-6" appearance="fill">
          <mat-label>Apellido</mat-label>
          <input formControlName="lastName" matInput required>
          <mat-error *ngIf="studentsForm.controls['lastName'].invalid">{{ getErrorMessage('lastName') }}</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="col-8 pb-3" appearance="fill">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput required>
        <mat-error *ngIf="studentsForm.controls['email'].invalid">{{ getErrorMessage('email') }}</mat-error>
      </mat-form-field>

      <div class="row pb-3">
        <mat-form-field class="col-6" appearance="fill">
          <mat-label>Curso</mat-label>
          <input formControlName="course" matInput required>
          <mat-error *ngIf="studentsForm.controls['course'].invalid">{{ getErrorMessage('course') }}</mat-error>
        </mat-form-field>

        <mat-form-field class="col-6" appearance="fill">
          <mat-label>Puntuación</mat-label>
          <input formControlName="grade" matInput required>
          <mat-error *ngIf="studentsForm.controls['grade'].invalid">{{ getErrorMessage('grade') }}</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="d-flex px-2 justify-content-end" mat-dialog-actions>
    <button mat-stroked-button class="cancel-button" color="primary" (click)="onCancel()">Cancelar</button>
    <button mat-flat-button class="confirm-button" color="primary" [disabled]="studentsForm.invalid" (click)="onConfirm()">{{ confirmButtonText }}</button>
  </div>
</div>
