<div class="container-fluid wrapper">
  <div class="col">
    <h1 class="title py-5">{{ mainTitle }}</h1>
    <div class="row justify-content-around m-3">
      <div class="city col-3">
        <img class="city-image" src="..\..\assets\img\Tokio.jpg" alt="Foto de Tokio">
        <p>Tokio</p>
      </div>
      <div class="city col-3">
        <img class="city-image" src="..\..\assets\img\Seul.jpg" alt="Foto de Seúl">
        <p>Seúl</p>
      </div>
      <div class="city col-3">
        <img class="city-image" src="..\..\assets\img\bangkok.jpg" alt="Foto de Bangkok">
        <p>Bangkok</p>
      </div>
    </div>
    <div class="row justify-content-around m-3">
      <div class="city col-3">
        <img class="city-image" src="..\..\assets\img\Jakarta.jpg" alt="Foto de Jakarta">
        <p>Jakarta</p>
      </div>
      <div class="city col-3">
        <img class="city-image" src="..\..\assets\img\Hanoi.jpg" alt="Foto de Hanoi">
        <p>Hanoi</p>
      </div>
      <div class="city col-3">
        <img class="city-image" src="..\..\assets\img\Bali.jpg" alt="Foto de Bali">
        <p>Bali</p>
      </div>
    </div>
    <div class="row justify-content-around m-3">
      <div class="city col-3">
        <img class="city-image" src="..\..\assets\img\Beijing.jpg" alt="Foto de Beijing">
        <p>Beijing</p>
      </div>
      <div class="city col-3">
        <img class="city-image" src="..\..\assets\img\Kioto.jpg" alt="Foto de Hanoi">
        <p>Kioto</p>
      </div>
      <div class="city col-3">
        <img class="city-image" src="..\..\assets\img\Singapur.jpg" alt="Foto de Singapur">
        <p>Singapur</p>
      </div>
    </div>
  </div>
</div>
