<div class="col-4">
  <div class="students-list-container my-3">
    <ul class="students-list">
      <li
        *ngFor="let student of students"
        [ngClass]="student.name.includes('e') ? 'name-with-e' : 'any-name'"
        class="student-item p-2"
      >
          {{ student.name | lowercase }} {{ student.surname | uppercase}}

      </li>
    </ul>
  </div>
  <button [style.background-color]="students.length > 4 ? 'darkblue' : 'red'" (click)="handleClick()">
    {{ moreOrLessStudents }} estudiantes
  </button>
</div>
