<mat-card>
  <mat-card-header>
    <mat-card-title class="card-title">Inscripción</mat-card-title>
    <mat-card-subtitle>Detalles</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><span>Nombre del alumno</span> {{selectedEnrollment.student}}</p>
    <p><span>Curso</span> {{selectedEnrollment.course}}</p>
    <p><span>Comisión</span> {{selectedEnrollment.classCode}}</p>
    <p><span>Fecha de inscripción</span> {{selectedEnrollment.createdAt | date: 'dd/MM/yyyy'}}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button class="ok-button" color="primary" (click)="onClose()">
      Ok
    </button>
  </mat-card-actions>
</mat-card>
