<div class="row justify-content-center py-4">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="col-7 mb-5">
    <div class="row mb-3">
      <div class="col-5">
        <div class="row">
          <label class="col-4 input-label" for="name">Nombre</label>
          <input class="col-8" type="text" formControlName="name" required>
        </div>
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">
          <span *ngIf="name?.errors?.['required']">
            El nombre es requerido, no puede quedar vacío.
          </span>
          <span *ngIf="name?.errors?.['maxlength']">
            El máximo de caracteres es de 100.
          </span>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-5">
        <div class="row">
          <label class="col-4 input-label" for="surname">Apellido</label>
          <input class="col-8" type="text" formControlName="surname" required>
        </div>
        <div *ngIf="surname?.invalid && (surname?.dirty || surname?.touched)" class="alert alert-danger">
          <span *ngIf="surname?.errors?.['required']">
            El apellido es requerido, no puede quedar vacío.
          </span>
          <span *ngIf="surname?.errors?.['maxlength']">
            El máximo de caracteres es de 100.
          </span>
        </div>
      </div>
    </div>

    <div class="row field-container mb-3">
      <div>
        <div class="row">
          <label class="col-4 input-label" for="username">Nombre de Usuario</label>
          <input class="col-8" type="text" formControlName="username" required>
        </div>
        <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="alert alert-danger">
          <span *ngIf="username?.errors?.['required']">
            El nombre de usuario es requerido, no puede quedar vacío.
          </span>
          <span *ngIf="username?.errors?.['minlength']">
            El mínimo de caracteres es de 6.
          </span>
        </div>
      </div>
    </div>

    <div class="row field-container mb-3">
      <div>
        <div class="row">
          <label class="col-4 input-label" for="email">Email</label>
          <input class="col-8" type="text" formControlName="email" required>
        </div>
        <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger">
          <span *ngIf="email?.errors?.['required']">
            El email es requerido, no puede quedar vacío.
          </span>
          <span *ngIf="email?.errors?.['email']">
            El email no tiene un formato válido.
          </span>
        </div>
      </div>
    </div>

    <div class="row field-container mb-3">
      <div>
        <div class="row justify-content-space-between">
          <label class="col-4 input-label" for="mobile">Teléfono móvil</label>
          <input class="col-8" type="text" formControlName="mobile" required>
        </div>
        <div *ngIf="mobile?.invalid && (mobile?.dirty || mobile?.touched)" class="alert alert-danger">
          <span *ngIf="mobile?.errors?.['required']">
            El número de teléfono es requerido, no puede quedar vacío.
          </span>
          <span *ngIf="mobile?.errors?.['pattern']">
            El número de teléfono debe contener números únicamente.
          </span>
        </div>
      </div>
    </div>

    <div class="row field-container mb-3">
      <div>
        <div class="row justify-content-space-between">
          <label class="col-4 input-label" for="password">Contraseña</label>
          <input class="col-8" type="text" formControlName="password" required>
        </div>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="alert alert-danger">
          <span *ngIf="password?.errors?.['required']">
            La contraseña es requerida, no puede quedar vacío.
          </span>
          <span *ngIf="password?.errors?.['minlength']">
            El mínimo de caracteres es de 8.
          </span>
          <span *ngIf="password?.errors?.['pattern']">
            La contraseña debe contener al menos una letra mayúscula, una letra minúscula, un número y un caracter especial.
          </span>
        </div>
      </div>
    </div>

    <button [disabled]="userForm.invalid" type="submit" class="btn my-4 px-2">Crear</button>
  </form>
</div>
